/* how to refer to our fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* variables that can be used all over the document source: https://www.w3schools.com/css/css3_variables.asp */
:root {
  --pointsize14: 0.875em;
  --pointsize20: 1.25em;
  --hightlight: #85b79d;
}

* {
  padding: 0%;
  margin: 0%;
  /* outline: 1px red solid; */
}

/* removing the scroll bar from the whole site, source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body::-webkit-scrollbar {
  display: none;
}

/* start of header */
header {
  position: sticky;
}

.logo {
  float: left;
  margin-right: auto;
  max-width: 5em;
  padding: 1.25em;
  cursor: pointer;
  z-index: 4;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: -1;
}

.nav-links li,
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: var(--pointsize14);
  color: #000;
  display: block;
  padding: 0.8em 0em 0.5em 0.5em;
}

.current {
  color: var(--hightlight);
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
  align-items: center;
  padding: 0em 4em 0em 15%;
}

.nav-links li {
  float: left;
  text-align: center;
}

.nav-links .icon {
  float: right;
}
.nav-links .icon img {
  max-width: 1.25em;
}
/* end of header  */

/* start of main  */
.grid-continer {
  display: grid;
  grid-column-gap: 0.75em;
  grid-row-gap: 3em;
  grid-template-areas:
    "title title title title"
    "section1 section2 section3 section4"
    "section5 section6 section7 section8"
    "section9 section10 section11 section12"
    "footer footer footer footer";
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  width: 100%;
  padding-bottom: 25em;
}

/* setting the max width of the section so that the text doesnt dictate the width  */
section {
  max-width: 22vw;
}

/* assigning the sections to the grid on desktop version */
.title {
  grid-area: title;
}

.section1 {
  grid-area: section1;
  margin-left: 1em;
}
.section2 {
  grid-area: section2;
}
.section3 {
  grid-area: section3;
}
/* making the whole div clickable in javascript */
.section4 {
  grid-area: section4;
  cursor: pointer;
}
.section5 {
  grid-area: section5;
  margin-left: 0.75em;
}
.section6 {
  grid-area: section6;
}
.section7 {
  grid-area: section7;
}
.section8 {
  grid-area: section8;
}
.section9 {
  grid-area: section9;
  margin-left: 0.75em;
}
.section10 {
  grid-area: section10;
}
.section11 {
  grid-area: section11;
}
.section12 {
  grid-area: section12;
}

/* size of the divs that hold the item images */
section div {
  height: 22vw;
  width: 22vw;
  position: relative;
  overflow: hidden;
}

/* images that are horizontally longer get this class */
.horizotal {
  position: absolute;
  max-width: 100%;
  z-index: -1;
}

/* images that are vertically longer get this class */
.vertical {
  position: absolute;
  max-height: 100%;
  z-index: -1;
}

/* main titles */
h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  padding: 2em 0em 0em 15%;
  display: flex;
  align-items: baseline;
}

h2 a {
  width: fit-content;
}

/* time filters under the main heading  */
.time-filter {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  align-items: center;
  padding-left: 15%;
}
.time-filter li {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: var(--pointsize14);
  color: #000;
  display: block;
  padding: 0.8em 0.5em;
}

/* titles of recipes */
h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  text-align: center;
  font-weight: 100;
  padding: 0em 1em;
  margin-bottom: 2em;
  max-width: 18em;
}

/* time filter under recipe photos */
main p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  text-align: center;
  padding: 1.5em;
}
/* end of main  */

/* start of footer  */

body {
  min-height: 100vh;
  position: relative;
  width: 100%;
}
main {
  padding-bottom: 20em;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: var(--pointsize14);
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

footer img {
  max-width: 2em;
  float: left;
  padding: 0em 1em;
}

footer p {
  float: right;
}

footer ul {
  display: flex;
  list-style-type: none;
  padding-bottom: 1em;
  justify-content: center;
}

footer li {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end of footer  */
