/* how to refer to our fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --pointsize14: 0.875em;
  --pointsize20: 1.25em;
  --pointsize35: 2.1875em;
  --hightlight: #85b79d;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
  /* border: 1px red solid; */
}

body {
  accent-color: var(--hightlight);
}
/* removing the scroll bar from the whole site, source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body::-webkit-scrollbar {
  display: none;
}

.logo {
  margin-right: auto;
  max-width: 5em;
  padding: 1.25em;
  cursor: pointer;
  float: left;
}
/* start of bread crums */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 40px;
}
nav img {
  max-width: 1em;
}
.active {
  background-color: var(--hightlight);
  color: #fff;
}
/* end of bread crums */

/* start of page layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  grid-template-areas: "your-order details";
}
.your-order {
  grid-area: your-order;
  margin-left: 20%;
  max-width: 70%;
}
.details {
  grid-area: details;
  margin-left: 10%;
  max-width: 60%;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: var(--pointsize35);
  margin: 1em 0em 0.5em 0em;
}
/* end of page layout */

/* submit button  */
button {
  background-color: var(--hightlight);
  border: none;
  border-radius: 40px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: var(--pointsize20);
  font-family: "Raleway", sans-serif;
  color: #fff;
  float: right;
  margin: 5em 0 5em 0em;
}

.customer-information {
  line-height: 2em;
}

.order-item {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}

.shipAndTotal {
  margin-top: 2em;
}

p {
  font-size: var(--pointsize14);
}

/* responsiveness for mobile sizes */
@media only screen and (max-width: 550px) {
  /* start of page layout */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-template-areas:
      "your-order"
      "details";
  }
  .your-order {
    margin: auto;
    width: 100%;
    max-width: 80%;
  }
  .details {
    margin: auto;
    width: 100%;
    max-width: 80%;
  }
  h2 {
    font-size: x-large;
    margin: 2em 0em 0.5em 0em;
  }
  /* end of page layout */

  /* start of header*/
  .logo {
    max-width: 4em;
  }
  h3 {
    font-size: 0.75em;
  }
  .active {
    background-color: var(--hightlight);
    color: #fff;
  }
  /* end of header*/

  button {
    font-size: large;
    margin: 2em 0 3em 0em;
  }

  p {
    font-size: 1em;
  }
}
